<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="tools_descartes_dlim_generator_exporters" name="Exporters" schema="schema/tools_descartes_dlim_generator_exporters.exsd"/>
   <extension-point id="tools_descartes_dlim_generator_extractors" name="Extractors" schema="schema/tools_descartes_dlim_generator_extractors.exsd"/>


</plugin>
