<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="tools.descartes.dlim Target Platform" sequenceNumber="2">
	<locations>
		<location type="Target" uri="mvn:org.palladiosimulator:palladio-target-platforms:0.1.0:target:palladio-2023-03"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2023-03/"/>
			<unit id="org.apache.commons.math3" version="0.0.0"/>
		</location>
	</locations>
</target>
